{"is_source_file": true, "file_id": 2, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "filename": "/home/kavia/workspace/code-generation/tictactoe-classic-5261-5267/main_container_for_tictactoe_classic/requirements.txt", "hash": "7645afa2e98f8caee9712d9d5cddb2d8", "format-version": 4, "code-base-name": "default", "knowledge_revision": 3}